.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 20px;
    color: var(--black);
    text-decoration: none;
}

.menu__item--search::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("/search.svg");
    left: -26px;
}

.menu__item--favorites::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("/favorites.svg");
    left: -28px;
}


.menu__item:visited {
    color: var(--black);
}

.menu__counter {
    font-size: 12px;
    line-height: 28px;
    font-weight: 600;
    border: 1px solid var(--black);
    border-radius: 50%;
    padding: 0 10px;
}